@import "src/variables.scss";

$asteriskColor: rgb(160, 8, 127);

.price-list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $subtleBorderColor;
  background: white;
}

.price-list-element:last-child {
  border-bottom: none;
}

.element-title,
.element-price {
  margin: 0;
}
.tooltip,
.tooltip-explanation {
  position: relative;
}

.tooltip-explanation {
  margin: 0;
  margin-left: 2rem;
  font-size: 0.85rem;
}

.tooltip::after,
.tooltip-explanation::before {
  content: "*";
  position: absolute;
  font-weight: 500;
  color: $asteriskColor;
}

.tooltip::after {
  top: -6px;
  right: -12px;
  font-size: 1.5rem;
}

.tooltip-explanation::before {
  top: -6px;
  left: -12px;
  font-size: 1.2rem;
}

.element-price {
  margin-left: 2rem;
}

.element-price span {
  font-size: 1.75rem;
  font-weight: 700;
  color: $mainColor;
}

.price-list {
  box-shadow: 6px 6px 20px 0 rgba(black, 0.1);
  margin-bottom: 3rem;
}
