<h3>{{ priceListCategory }}</h3>
<div class="price-list">
  <div class="price-list-element" *ngFor="let item of priceList">
    <p class="element-title">{{ item.title }}</p>
    <p class="element-price">
      {{ item.isPriceFrom ? "от" : ""
      }}<span>{{ item.isPriceFrom ? " " : "" }}{{ item.price }} &#8381;</span>
    </p>
  </div>
</div>
