<article class="product-card">
  <div class="card-padding" routerLink="/shop/details/{{ product.id }}">
    <div class="title-container">
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-manufacturer">{{ product.manufacturerName }}</p>
    </div>
    <img class="product-image" [src]="product.imageUrl" [alt]="product.name" />
    <p class="product-description">{{ getProductDescription() }}</p>
    <div class="push-to-bottom"></div>
    <div class="price-container">
      <p class="price" *ngIf="product.discountPrice === 0">
        {{ product.price }} &#8381;
      </p>

      <div class="discount-container" *ngIf="product.discountPrice > 0">
        <p class="new-price">{{ product.discountPrice }} &#8381;</p>
        <p class="old-price">&nbsp;{{ product.price }} &#8381;&nbsp;</p>
      </div>
    </div>

    <div class="sale-container" *ngIf="product.discountPrice > 0">Акция</div>
  </div>

  <div class="card-button-container">
    <button
      class="add-to-cart"
      *ngIf="product.available > 0"
      [ngClass]="{ 'show-img-on-hover': compareHover }"
      (click)="onAddToCart()"
    >
      <span>В корзину</span>
      <img src="assets/svg/add_to_cart.svg" alt="Добавить в корзину" />
    </button>
    <button
      class="add-to-cart order-product"
      *ngIf="product.available <= 0"
      [ngClass]="{ 'show-img-on-hover': compareHover }"
    >
      <span>Заказать</span>
      <img src="assets/svg/shipping.svg" alt="Заказать товар" />
    </button>
    <button
      class="compare"
      (mouseenter)="onCompareMouseIn()"
      (mouseleave)="onCompareMouseOut()"
      (click)="onAddToCompare()"
    >
      <img
        [src]="
          addedToCompare ? 'assets/svg/checked.svg' : 'assets/svg/libra.svg'
        "
        alt="Добавить к сравнению"
      />
      <span class="show-on-hover">{{
        addedToCompare ? "Убрать" : "К сравнению"
      }}</span>
    </button>
  </div>
</article>
