@import "src/variables.scss";

p {
  margin: 0;
}

.product-card,
.card-padding {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card {
  cursor: pointer;
  border: 1px solid $subtleBorderColor;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: 0.2s ease-in-out;
  background: #f9f9f9;

  &:hover {
    box-shadow: 6px 6px 20px 0 rgba(black, 0.1);
  }
}

.card-padding {
  position: relative;
  padding: 1.5rem;
}

.product-image {
  align-self: center;
  width: 60%;
  max-width: 220px;
  margin: 1.5rem 0;
}

.product-name {
  font-weight: 700;
  font-size: 1.25rem;
  color: $mainTextColor;
  margin: 0 0 0.5rem;
}

.product-manufacturer {
  font-weight: 300;
  font-size: 0.75rem;
  color: $mainTextColor;
}

.product-description {
  font-weight: 400;
  font-size: 0.875rem;
  color: black;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.price {
  color: $priceColor;
  font-size: 1.75rem;
  font-weight: 700;
}

.discount-container {
  display: flex;
  align-items: center;
}

.old-price {
  text-decoration: line-through;
  color: rgba($priceColor, 0.6);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

.new-price {
  color: $discountPriceColor;
  font-size: 1.75rem;
  font-weight: 700;
}

.sale-container {
  position: absolute;
  font-size: 0.6875rem;
  background: $discountPriceColor;
  color: white;
  padding: 0.25rem;
  top: 0.5rem;
  right: 0.5rem;
}

.add-to-cart,
.compare {
  cursor: pointer;
  font-family: "Montserrat";
  border: none;
  color: $accentColor;
  background: transparent;
  font-weight: 700;
  transition: color 150ms cubic-bezier(0.76, 0.05, 0.86, 0.06),
    width 150ms ease-in-out;

  &:hover {
    background: $darkAccentColor;
    color: white;
  }

  span {
    white-space: nowrap;
  }
}

.order-product {
  color: $mainColor;

  &:hover {
    background: $mainColor;
    color: white;
  }
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  text-transform: none;
  border-right: 1px solid $subtleBorderColor;
  border-bottom-left-radius: 0.5rem;

  img {
    display: none;
  }
}

.show-img-on-hover {
  width: 25%;
  color: white;

  img {
    display: inline-block;
  }
  span {
    display: none;
  }
}

.push-to-bottom {
  margin-top: auto;
  flex: 1;
}

.card-button-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 3rem;
  border-top: 1px solid $subtleBorderColor;
}

.compare {
  width: 25%;
  border-bottom-right-radius: 0.5rem;

  &:hover {
    width: 75%;

    img {
      display: none;
    }

    .show-on-hover {
      display: block;
      color: white;
    }
  }

  .show-on-hover {
    display: none;
    color: transparent;
  }
}

button img {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 500px) {
  .product-image {
    width: 100%;
    max-width: 10rem;
    grid-area: image;
    margin: 0 auto;
  }

  .card-padding {
    padding: 1rem;
    display: grid;
    grid-template-columns: 33% 1rem 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "image gap title"
      "image gap desc"
      "image gap price";
  }

  .title-container {
    grid-area: title;
  }

  .product-manufacturer {
    font-size: 0.875rem;
  }

  .product-description {
    grid-area: desc;
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .push-to-bottom {
    display: none;
  }

  .price-container {
    grid-area: price;
  }

  .price,
  .new-price {
    font-size: 1.75rem;
  }

  .add-to-cart {
    span {
      font-size: 0.875rem;
    }
  }
}
