<section
  class="compare-panel desktop"
  [ngClass]="{ hide: isHidden, 'slide-down': isSlidingDown }"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="wrapper">
    <div class="compare-content">
      <div class="button-block">
        <button class="delete-button" (click)="onClearAll()">
          <img src="assets/svg/delete.svg" alt="Очистить все" />
        </button>
      </div>
      <div
        class="product-item"
        *ngFor="let product of getProductsToCompare()"
        routerLink="/shop/details/{{ product.id }}"
      >
        <img
          class="product-img"
          [src]="product.imageUrl"
          [alt]="product.name"
        />
        <div class="product-info">
          <h6>{{ product.name }}</h6>
          <p class="price">{{ product.price }} &#8381;</p>
        </div>
        <button class="delete-product" (click)="onDeleteClick(product)">
          <img src="assets/svg/close.svg" alt="Убрать из сравнения" />
        </button>
      </div>
    </div>
    <div class="button-block">
      <a [routerLink]="'/shop/compare'"
        ><button class="cta main-cta">Сравнить</button></a
      >
    </div>
  </div>
</section>

<section
  class="mobile-compare-panel"
  [ngClass]="{ hide: isHidden, 'slide-down': isSlidingDown }"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <p>
    <span>{{ getProductsToCompare().length }}</span>
    {{ getProductsPlural() }} для сравнения
  </p>
  <a [routerLink]="'/shop/compare'"
    ><button class="cta main-cta">Сравнить</button></a
  >
</section>
