@import "src/variables.scss";

.compare-panel {
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background: white;
  border-top: 1px solid rgba(black, 0.2);
  transition: var(--transition-duration) ease-in-out;
}

.mobile-compare-panel {
  display: none;
}

.compare-content,
.wrapper {
  display: flex;
  align-items: center;
}

.wrapper {
  height: 100%;
  justify-content: space-between;
}

.compare-content {
  overflow-x: auto;
}

.product-item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0 0.5rem;

  &:hover {
    background: $bgHighlightColor;

    .delete-product {
      display: inline-block;
    }
  }
}

.product-img {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
}

.product-item h6 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.product-item .price {
  margin: 0;
  color: $priceColor;
  font-weight: 700;
}

.delete-product {
  cursor: pointer;
  position: absolute;
  display: none;
  top: -0.25rem;
  right: -0.5rem;
  background: white;
  border: 1px solid $lightBorderColor;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.delete-product img {
  width: 100%;
  height: 100%;
}

.button-block {
  display: flex;
  align-items: stretch;
  height: 3rem;
}

.delete-button {
  cursor: pointer;
  border: 2px solid $mainColor;
  background: white;
  margin-right: 1rem;
  padding: 0 1rem;

  &:hover {
    background: $mainColor;

    img {
      filter: brightness(0) invert(1);
    }
  }
}

.delete-button img {
  width: 1.5rem;
  height: 1.5rem;
}

.hide {
  display: none !important;
}

.slide-down {
  transform: translateY(5rem);
}

@media (max-width: 900px) {
  .desktop {
    display: none;
  }

  .mobile-compare-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $lightBorderColor;
    background: white;
    color: $mainColor;
    padding: 1rem;
    transition: var(--transition-duration) ease-in-out;

    p {
      margin: 0;
      margin-right: 1rem;
      font-size: 0.875rem;
      color: $secondaryTextColor;
    }

    span {
      font-weight: 700;
      font-size: 1.125rem;
      color: $mainColor;
    }

    button {
      font-size: 0.75rem;
      padding: 0.75rem 1rem;
    }
  }
}
