<header>
  <div class="header-wrapper">
    <a class="logo-container" routerLink=""
      ><img src="assets/images/logosite.webp" alt="" class="logo-img" />
      <span>{{ companyName }}</span>
    </a>

    <nav>
      <a class="cart-link" *ngIf="cartSize > 0" [routerLink]="'/shop/cart'"
        ><img class="cart-img" src="assets/svg/cart.svg" alt="Корзина" /><span
          class="cart-size"
          >{{ cartSize }}</span
        >
      </a>

      <ul class="nav-menu">
        <li>
          <a
            [routerLink]="'/shop'"
            [ngClass]="{ 'reduce-margin-left': cartSize > 0 }"
            >Магазин</a
          >
        </li>
        <li>
          <a href="#">Услуги</a>
        </li>
        <li>
          <a href="#">О нас</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>

      <button class="mobile-menu">
        <img src="assets/svg/menu.svg" alt="Меню" />
      </button>
    </nav>
  </div>
</header>
