@import "src/variables.scss";

header {
  background: white;
  // box-shadow: 0 0.25rem 0.25rem rgba(black, 0.2);
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 10;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  position: relative;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: $secondaryTextColor;

  &:hover {
    color: rgb(52, 81, 114);
  }
}

.reduce-margin-left {
  margin-left: 0.5rem !important;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $secondaryTextColor;
  margin: 0;
}

.logo-container span {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.logo-img {
  width: 32px;
}

.mobile-menu {
  display: none;
}

.cart-link {
  margin: 0 1rem;
  justify-self: flex-end;

  &:hover {
    background: $bgHighlightColor;
  }
}

.cart-img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.cart-size {
  position: absolute;
  background: $accentColor;
  color: white;
  font-weight: 500;
  font-size: 0.8125rem;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  bottom: -0.35rem;
  right: -0.25rem;
}

// .cart-toast {
//   position: fixed;
//   bottom: 2rem;
//   left: 1rem;
//   right: 1rem;
//   border: 1px solid $subtleBorderColor;
//   text-align: center;
//   padding: 2rem;
// }

@media (max-width: 900px) {
  .header-wrapper {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .mobile-menu {
    cursor: pointer;
    display: inline-block;
    border: none;
    background: white;
    height: 2rem;
    padding: 0 0.5rem;

    &:hover {
      background: $bgHighlightColor;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .nav-menu {
    display: none;
  }
}
