<div class="wrapper">
  <app-repair-hero-section></app-repair-hero-section>
  <app-repair-steps></app-repair-steps>

  <h2>Прайс-лист</h2>
  <div class="price-list-container">
    <app-price-list
      [priceListCategory]="priceListCategory1"
      [priceList]="priceList1"
    ></app-price-list>
    <app-price-list
      [priceListCategory]="priceListCategory2"
      [priceList]="priceList2"
    ></app-price-list>
    <button class="cta secondary-cta">Прайс-лист на все услуги</button>
  </div>
</div>
