@import "src/variables.scss";

.compare-section {
  overflow-x: auto;
}

.categories {
  display: flex;
  align-items: center;

  .selected-category {
    background: $mainColor;
    color: white;
  }

  button {
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 0.875rem;
    background: white;
    color: $mainColor;
    border: 1px solid $mainColor;
    padding: 0.75rem 1rem;
    margin-right: 1rem;

    &:hover {
      background: $lightMainColor;
      color: white;
      border: 1px solid $lightMainColor;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.compare-table {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "settings products"
    "attributes attributes";
  margin: 2rem auto;
}

.compare-settings {
  grid-area: settings;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.compare-products-display {
  display: flex;
  align-items: center;
  grid-area: products;

  a {
    text-decoration: none;
  }
}

.product-info-wrapper {
  position: relative;

  &:hover {
    .delete-product {
      display: inline-block;
    }
  }
}

.product-info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 12rem;

  &:hover {
    background: $bgHighlightColor;
  }

  h3 {
    font-size: 1rem;
    color: $mainTextColor;
    margin: 0;
    max-width: 10rem;
    text-align: center;
  }
  .product-img {
    width: 8rem;
    height: 8rem;
    margin: 0.5rem auto;
  }
  p {
    color: $priceColor;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
}

.delete-product {
  cursor: pointer;
  position: absolute;
  display: none;
  top: 0.5rem;
  right: 0.25rem;
  background: white;
  border: 1px solid $lightBorderColor;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

.attr-names {
  grid-area: attributes;
  width: 100%;
}

.attr-group {
  h4 {
    margin: 0;
    padding: 0.5rem 1rem;
    border-top: 1px solid $subtleBorderColor;
    border-bottom: 1px solid $subtleBorderColor;
    color: $mainColor;
    font-weight: 700;
    font-size: 1rem;
  }

  p {
    margin: 0;

    padding: 0.5rem 1rem;
    color: $mainTextColor;
    font-size: 1rem;
  }
}

.attr-values {
  display: flex;
  border-bottom: 1px solid $subtleBorderColor;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: $bgHighlightColor;
  }

  .attr-name {
    width: 20rem;
  }
  .attr-value {
    width: 12rem;
    text-align: center;
    font-weight: 500;
  }
}

.no-products {
  display: grid;
  place-items: center;

  p {
    margin: 3rem auto;
  }
}

@media (max-width: 720px) {
  .categories {
    button {
      font-size: 0.75rem;
    }
  }

  .compare-table {
    grid-template-columns: 12rem auto;
  }

  .compare-settings {
    width: 12rem;
  }

  .product-info {
    width: 10rem;

    h3 {
      font-size: 0.875rem;
      max-width: 8rem;
    }
    .product-img {
      width: 6rem;
      height: 6rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .delete-product {
    display: inline-block;
  }

  .attr-group {
    h4 {
      font-size: 0.875rem;
    }

    p {
      font-size: 0.75rem;
    }
  }

  .attr-values {
    .attr-name {
      width: 12rem;
    }
    .attr-value {
      width: 10rem;
    }
  }
}
