<div class="wrapper">
  <section class="compare-section" *ngIf="products">
    <div class="categories" *ngIf="categories.length > 1">
      <button
        *ngFor="let category of categories; index as i"
        [ngClass]="{ 'selected-category': i === selectedCategoryIndex }"
        (click)="onSelectCategory(i)"
      >
        {{ category.name }} ({{ category.items }})
      </button>
    </div>
    <section class="compare-table" *ngIf="products.size > 0">
      <div class="compare-settings">
        <label
          class="checkbox-container"
          *ngIf="products.get(selectedCategoryKey).length > 1"
        >
          <div class="checkbox-flex">
            <p>Только различия</p>
          </div>

          <input type="checkbox" (change)="onOnlyDifferencesToggle($event)" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="compare-products-display">
        <div
          class="product-info-wrapper"
          *ngFor="let product of products.get(selectedCategoryKey)"
        >
          <a routerLink="/shop/details/{{ product.id }}">
            <div class="product-info">
              <h3>{{ product.name }}</h3>
              <img
                class="product-img"
                [src]="product.imageUrl"
                [alt]="product.name"
              />
              <p>{{ product.price }} &#8381;</p>
            </div>
          </a>
          <button class="delete-product" (click)="onDeleteClick(product)">
            <img src="assets/svg/close.svg" alt="Убрать из сравнения" />
          </button>
        </div>
      </div>

      <div class="attr-names">
        <div class="attr-group" *ngFor="let attrGroup of attrGroups">
          <h4 *ngIf="attrGroup.attributes.length > 0">{{ attrGroup.name }}</h4>
          <div
            class="attr-values"
            *ngFor="let attribute of attrGroup.attributes"
          >
            <p
              class="attr-name"
              *ngIf="
                getAttrValuesFromProducts(attrGroup.id, attribute.id).length > 0
              "
            >
              {{ attribute.name }}
            </p>
            <p
              class="attr-value"
              *ngFor="
                let value of getAttrValuesFromProducts(
                  attrGroup.id,
                  attribute.id
                )
              "
            >
              {{ value }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="no-products" *ngIf="products?.size === 0">
    <p>Нет товаров для сравнения</p>
    <button class="cta secondary-cta" [routerLink]="'/shop'">К каталогу</button>
  </section>
</div>
