@import "src/variables.scss";

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 1rem 0 2rem;
}

a {
  text-decoration: none;
  color: $secondaryTextColor;

  img {
    width: 0.875rem;
    height: 0.875rem;
  }
}

li,
.mobile-breadcrumb {
  position: relative;
  align-items: center;
  font-size: 0.875rem;
  height: 2rem;
  padding: 0 1rem;
  color: $secondaryTextColor;
  border: 1px solid $subtleBorderColor;
  background: #f9f9f9;
}

li {
  display: flex;
  list-style: none;

  &:hover {
    background: $mainColor;

    a {
      color: white;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.home-link,
.middle-link {
  border-right: none;

  &:hover::after {
    background: $mainColor;
  }
}

.middle-link,
.last-link {
  padding-left: 2rem;
  border-left: none;
}

.home-link::after,
.middle-link::after,
.mobile-breadcrumb::after {
  content: "";
  position: absolute;
  top: -1px;
  width: calc(2rem - 2px);
  height: calc(2rem - 2px);
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #f9f9f9;
}

.home-link::after,
.middle-link::after {
  right: -1rem;
  border-top: 1px solid $subtleBorderColor;
  border-right: 1px solid $subtleBorderColor;
}

.last-link {
  background: $bgHighlightColor;

  a {
    color: $mainColor;
    font-weight: 500;
  }
}

.mobile-breadcrumb {
  display: none;
}

@media (max-width: 720px) {
  .breadcrumbs {
    display: none;
  }

  .mobile-breadcrumb {
    display: inline-flex;
    margin: 1rem 0 2rem 1rem;

    &:hover {
      background: $mainColor;
      color: white;

      &::after {
        background: $mainColor;
      }
    }
  }

  .mobile-breadcrumb::after {
    left: -1rem;
    border-bottom: 1px solid $subtleBorderColor;
    border-left: 1px solid $subtleBorderColor;
  }
}
