<nav *ngIf="breadcrumbs?.length > 0">
  <div class="wrapper">
    <ol class="breadcrumbs">
      <li
        *ngFor="let breadcrumb of breadcrumbs; index as i"
        [ngClass]="{
          'home-link': i === 0,
          'middle-link': i > 0 && i !== breadcrumbs.length - 1,
          'last-link': i === breadcrumbs.length - 1
        }"
      >
        <a [routerLink]="breadcrumb.url" *ngIf="i > 0">{{
          breadcrumb.label
        }}</a>
        <a [routerLink]="breadcrumb.url" *ngIf="i === 0"
          ><img src="assets/svg/home.svg" alt="Главная"
        /></a>
      </li>
    </ol>

    <a
      class="mobile-breadcrumb"
      *ngIf="breadcrumbs.length > 2"
      [routerLink]="breadcrumbs[breadcrumbs.length - 2].url"
    >
      {{ breadcrumbs[breadcrumbs.length - 2].label }}
    </a>
  </div>
</nav>
