<article class="cart-item" [ngClass]="{ highlighted: isLinkHovered }">
  <a
    routerLink="/shop/details/{{ product.id }}"
    class="product-img-link"
    (mouseenter)="onProductLinkMouseEnter()"
    (mouseleave)="onProductLinkMouseLeave()"
  >
    <img class="product-img" [src]="product.imageUrl" [alt]="product.name" />
  </a>

  <a
    routerLink="/shop/details/{{ product.id }}"
    class="product-info-link"
    (mouseenter)="onProductLinkMouseEnter()"
    (mouseleave)="onProductLinkMouseLeave()"
  >
    <div class="product-info">
      <h3>{{ product.name }}</h3>
      <p class="manufacturer">{{ product.manufacturerName }}</p>
    </div>
  </a>

  <div class="quantity" *ngIf="product.available > 1">
    <button
      class="quantity-btn"
      [disabled]="quantity === 1"
      (click)="decreaseQuantity()"
    >
      <img src="assets/svg/minus.svg" alt="-1" />
    </button>
    <input
      type="number"
      id="quantity"
      [(ngModel)]="quantity"
      (ngModelChange)="onQuantityInput()"
    />
    <button
      class="quantity-btn"
      [disabled]="quantity === product.available"
      (click)="increaseQuantity()"
    >
      <img src="assets/svg/plus.svg" alt="+1" />
    </button>
  </div>

  <p class="price">{{ totalPrice }} &#8381;</p>

  <button class="remove-item" (click)="onDeleteProduct()">
    <img src="assets/svg/close.svg" alt="Удалить" />
  </button>
</article>
