@import "src/variables.scss";

a {
  text-decoration: none;
}

.cart-item {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 5.5rem auto 10rem 10rem 2rem;
  padding: 1.5rem;
  border-bottom: 1px solid $subtleBorderColor;
}

.product-info-link {
  grid-column: 2;
  justify-self: start;
}

.product-img-link {
  grid-column: 1;
}

h3 {
  margin: 0 0 0.25rem;
  color: $mainTextColor;
  font-weight: 500;
  font-size: 1rem;
}

.manufacturer {
  margin: 0;
  color: $mainTextColor;
  font-weight: 300;
  font-size: 0.75rem;
}

.product-img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
  object-fit: cover;
}

.quantity {
  grid-column: 3;
  display: flex;
  align-items: stretch;
  border: 1px solid $lightBorderColor;

  input {
    border: none;
    height: 2rem;
    width: 3rem;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: $headerTextColor;

    &:focus {
      outline: none;
    }
  }
}

.quantity-btn {
  cursor: pointer;
  border: none;
  background: white;
  padding: 0 1rem;

  &:hover,
  &:focus {
    background: $mainColor;

    img {
      filter: invert(100%);
    }
  }

  &:disabled {
    cursor: auto;
    background: rgba(grey, 0.3);

    img {
      filter: invert(100%);
    }
  }

  img {
    width: 1rem;
    height: 1rem;
  }
}

.price {
  margin: 0;
  grid-column: 4;
  font-weight: 700;
  font-size: 1.25rem;
  color: $priceColor;
}

.remove-item {
  grid-column: 5;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.5rem;

  &:hover {
    background: $bgHighlightColor;
  }

  img {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.highlighted {
  background: $bgHighlightColor;
}

@media (max-width: 900px) {
  .quantity {
    input {
      width: 2rem;
      font-size: 0.8125rem;
    }
  }

  .quantity-btn {
    padding: 0 0.75rem;

    img {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  .remove-item {
    padding: 0.3rem;

    img {
      width: 0.6rem;
      height: 0.6rem;
    }
  }

  h3 {
    font-size: 0.875rem;
  }

  .manufacturer {
    font-size: 0.6875rem;
  }
}

@media (max-width: 720px) {
  .cart-item {
    position: relative;
    grid-template-columns: 6rem 1fr 2.5rem;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image info quantity"
      "image price quantity";
    padding: 1rem;
  }

  .product-info-link {
    grid-area: info;
    justify-self: start;
  }

  .product-img-link {
    margin-left: 0.5rem;
    grid-area: image;
  }

  .quantity {
    grid-area: quantity;
    flex-direction: column-reverse;
    align-items: center;
  }

  .quantity-btn {
    width: 2rem;
    height: 2rem;
    padding: 0;

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  .remove-item {
    position: absolute;
    top: 50%;
    left: -0.5rem;
    transform: translateY(-50%);
    padding: 0.5rem;

    img {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  .price {
    grid-area: price;
    justify-self: start;
  }
}

@media (max-width: 500px) {
  h3 {
    font-size: 1rem;
  }

  .manufacturer {
    font-size: 0.75rem;
  }
}
