@import "src/variables.scss";

.product-card {
  display: flex;
  border: 1px solid $lightBorderColor;
  padding: 1rem;
  position: relative;
  background: white;
}

.product-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.product-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card img {
  height: 150px;
  object-fit: cover;
}

.add-to-cart {
  display: flex;
  align-items: center;

  &:hover {
    color: white;
    background: $mainColor;
  }
}

.add-to-cart span {
  padding-left: 1rem;
}
.add-to-cart img {
  width: 16px;
  height: 16px;
}

.add-to-cart:hover img {
  filter: invert(100%);
}

.product-available {
  position: absolute;
  top: 0.5rem;
  left: -8px;
  padding: 0.3rem;
  font-size: 0.7rem;
  background: white;
}

.available {
  border: 1px solid rgb(45, 165, 45);
}

.not-available {
  border: 1px solid rgb(165, 59, 45);
}

.product-model {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0.5rem;
}

.product-manufacturer {
  margin: 0;
  color: $secondaryTextColor;
  font-size: 0.75rem;
}

.product-attributes {
  margin: 1.5rem 0;
}

.product-price {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  color: $priceColor;
}

.discount-container {
  display: flex;
  align-items: center;
}

.old-price {
  text-decoration: line-through;
  color: rgba($priceColor, 0.6);
  font-size: 1.25rem;
}

.new-price {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  margin-left: 1rem;
  color: $discountPriceColor;
}
