<div class="product-card">
  <div class="product-available available" *ngIf="product.available > 0">
    В наличии: {{ product.available }} шт.
  </div>
  <div class="product-available not-available" *ngIf="product.available <= 0">
    Товар распродан
  </div>
  <img [src]="product.imageUrl" [alt]="product.name" />
  <div class="product-info">
    <div>
      <p class="product-model">{{ product.name }}</p>
      <p class="product-manufacturer">{{ product.manufacturerName }}</p>
      <p class="product-attributes">{{ getProductDescription() }}</p>
    </div>

    <div class="product-price-container">
      <p class="product-price" *ngIf="product.discountPrice === 0">
        {{ product.price }} &#8381;
      </p>

      <div class="discount-container" *ngIf="product.discountPrice > 0">
        <p class="product-price old-price">{{ product.price }} &#8381;</p>
        <p class="new-price">{{ product.discountPrice }} &#8381;</p>
      </div>

      <button class="add-to-cart cta secondary-cta">
        <img
          [src]="
            product.available > 0
              ? 'assets/svg/cart.svg'
              : 'assets/svg/shipping.svg'
          "
          [alt]="product.available > 0 ? 'В корзину' : 'Заказать'"
        />
        <span>{{ product.available > 0 ? "В корзину" : "Заказать" }}</span>
      </button>
    </div>
  </div>
</div>
