@import "src/variables.scss";

a {
  font-size: 0.875rem;
  text-decoration: none;
}

.cart-list {
  width: 90%;
  margin: 0 auto;
}

.no-products {
  display: grid;
  place-items: center;

  p {
    margin: 3rem auto;
    font-size: 1.5rem;
    font-size: 500;
  }
}

.total-price-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
}

.total {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
}

.total-price {
  font-size: 1.75rem;
  font-weight: 700;
  color: $priceColor;
  margin: 0 2rem;
  width: 10rem;
  text-align: center;
}

.cart-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  margin: 2rem 0;
}

@media (max-width: 1150px) {
  .cart-list {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .total-price-container {
    justify-content: flex-start;
  }

  .total-price {
    margin: 0 2rem;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .cart-button-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;

    a {
      width: 100%;
      margin: 0.5rem 0;
      text-align: center;
    }
  }
}
