<div class="wrapper">
  <section class="cart-list" *ngIf="products.size > 0">
    <h2>Корзина</h2>

    <app-cart-item
      *ngFor="let product of productKeys"
      [product]="product"
      [quantity]="products.get(product)"
    ></app-cart-item>

    <div class="total-price-container">
      <p class="total">Итого:</p>
      <p class="total-price">{{ totalPrice }} &#8381;</p>
    </div>

    <div class="cart-button-container">
      <a [routerLink]="'/shop'" class="cta secondary-cta">В магазин</a>
      <a class="cta main-cta">Оформить заказ</a>
    </div>
  </section>

  <section class="no-products" *ngIf="products?.size === 0">
    <p>Корзина пуста</p>
    <a class="cta secondary-cta" [routerLink]="'/shop'">В магазин</a>
  </section>
</div>
