<section class="product-filter" *ngIf="productsInfo">
  <div class="show-filter" (click)="onDisplayFilterClick()">
    <span>Фильтры</span>
    <img
      src="assets/svg/down-arrow-big.svg"
      alt="Показать"
      [ngClass]="{ opened: isMobileFilterVisible }"
    />
  </div>

  <div
    class="product-filter-list"
    [ngClass]="{ 'hide-filter': !isMobileFilterVisible }"
  >
    <app-search-product></app-search-product>
    <app-price-filter-item
      [priceRange]="{
        minPrice: productsInfo.minPrice,
        maxPrice: productsInfo.maxPrice
      }"
    ></app-price-filter-item>

    <app-attribute-filter-item
      *ngFor="let attribute of filterAttributes; index as i"
      [attribute]="attribute"
    >
    </app-attribute-filter-item>

    <div class="button-container">
      <button class="cta main-cta" (click)="onApplyFilter()">Применить</button>
      <button class="cta secondary-cta" (click)="onResetFilter()">
        Сбросить
      </button>
    </div>
  </div>
</section>
