@import "src/variables.scss";

.product-filter-list {
  border: 1px solid $subtleBorderColor;
  background: #f9f9f9;
}

.filter-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.show-filter {
  display: none;
}

.filter-category:hover,
.value-container:hover {
  background: $bgHighlightColor;
}

.filter-category:last-child {
  border-bottom: none;
}

.filter-category img {
  width: 16px;
  height: 16px;
  transition: 0.2s;
}

.opened {
  transform: rotate(-180deg);
}

.hidden {
  display: none !important;
}

.filter-category span {
  font-weight: 500;
  margin-right: 1rem;
}

.filter-values {
  display: flex;
  flex-direction: column;
}

.value-container {
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  margin: 0;
}

.value-container:last-child {
  margin-bottom: 1.5rem;
}

.price-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 2rem;
}

.price-filter-container span {
  margin: 0 0.5rem;
}

.price-input {
  width: 45%;
  padding: 0.5rem;
  border: 1px solid $lightBorderColor;
}

.price-input:focus {
  outline: none;
  border: 1px solid $mainColor;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.button-container .secondary-cta {
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .show-filter {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $subtleBorderColor;

    &:hover {
      background: $bgHighlightColor;
    }

    span {
      color: $mainColor;
      font-weight: 700;
      font-size: 1.125rem;
    }

    img {
      width: 1rem;
      height: 1rem;
      transition: 0.2s;
    }
  }

  .hide-filter {
    display: none;
  }
}
