@import "src/variables.scss";

.wrapper {
  max-width: 900px;
}

p {
  color: $mainTextColor;
}

.product-details-grid {
  display: grid;
  grid-template-columns: max(1rem, calc(50vw - 450px)) 1fr 1fr max(
      1rem,
      calc(50vw - 450px)
    );
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "empty1 image title empty2"
    "empty1 image purchase empty2"
    "empty3 specs specs empty4";
  margin-bottom: 3rem;
}

.image-container,
.image-bg1,
.image-bg2,
.purchase-section,
.title-section {
  background: $bgHighlightColor;
}

.image-bg1,
.image-bg2,
.title-section {
  padding-top: 3rem;
}

.image-bg1,
.image-bg2 {
  width: 100%;
  height: 100%;
}

.image-bg1 {
  grid-area: empty1;
}

.image-bg2 {
  grid-area: empty2;
}

.image-container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-area: image;
}

.product-img {
  max-width: 25rem;
}

.purchase-section {
  grid-area: purchase;
  padding-bottom: 3rem;
}

.title-section {
  position: relative;
  grid-area: title;
}

.info-sections {
  grid-area: specs;
}

.product-category {
  color: $headerTextColor;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-decoration: none;
}

.product-name {
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-manufacturer {
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0;

  span {
    font-weight: 500;
    color: $headerTextColor;
  }
}

.product-description {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.sale-container {
  position: absolute;
  font-size: 0.6875rem;
  background: $discountPriceColor;
  color: white;
  padding: 0.25rem;
  top: 3rem;
  right: 0.5rem;
}

.checkmark-img {
  width: 0.8125rem;
  height: 0.8125rem;
  margin-right: 0.5rem;
}

.product-available {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  font-weight: 300;
  margin-top: 2rem;
}

.available {
  color: $accentColor;
}

.not-available {
  color: rgb(165, 59, 45);
}

.price-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 1.5rem;
}

.product-price {
  font-weight: 700;
  font-size: 2rem;
  color: $priceColor;
  margin: 0;
}

.discount-container {
  display: flex;
  align-items: center;
}

.old-price {
  text-decoration: line-through;
  color: rgba($priceColor, 0.6);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

.new-price {
  font-weight: 700;
  font-size: 2rem;
  color: $discountPriceColor;
  margin: 0;
}

.quantity {
  display: flex;
  align-items: stretch;
  border: 1px solid $lightBorderColor;

  input {
    border: none;
    height: 2rem;
    width: 3rem;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: $headerTextColor;

    &:focus {
      outline: none;
    }
  }
}

.quantity-btn {
  cursor: pointer;
  border: none;
  background: white;
  padding: 0 1rem;

  &:hover,
  &:focus {
    background: $mainColor;

    img {
      filter: invert(100%);
    }
  }

  &:disabled {
    cursor: auto;
    background: rgba(grey, 0.3);

    img {
      filter: invert(100%);
    }
  }

  img {
    width: 1rem;
    height: 1rem;
  }
}

.add-to-cart {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border: none;
  background: $accentColor;
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;

  &:hover {
    background: $darkAccentColor;
  }
}

.sections-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    cursor: pointer;
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    flex: 1;
    color: $secondaryTextColor;
    border-bottom: 1px solid $lightBorderColor;

    &:hover {
      background: $bgHighlightColor;
    }
  }

  .active-section {
    font-weight: 500;
    border-bottom: 2px solid $mainColor;
    color: $mainTextColor;
  }
}

.info-section {
  margin-top: 2rem;
  line-height: 1.5;
}

.attribute-group {
  margin-top: 1rem;
}

.attr-group-title {
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 0;
}

.attr-item {
  font-size: 0.875rem;
  padding: 0.5rem 2rem;

  span {
    font-weight: 500;
  }
}

@media (max-width: 720px) {
  .product-details-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "image"
      "title"
      "purchase"
      "specs";
  }

  .purchase-section,
  .title-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .purchase-section {
    padding-bottom: 2rem;
  }

  .image-container {
    padding: 2rem 1.5rem;
  }

  .title-section {
    padding-top: 1rem;
  }

  .sale-container {
    top: 1rem;
    right: 2rem;
  }

  .product-img {
    max-width: 18rem;
  }

  .image-bg1,
  .image-bg2 {
    display: none;
  }

  .sections-menu p {
    font-size: 0.8125rem;
    flex: auto;
  }

  .info-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .attribute-group {
    margin-top: 1rem;
  }

  .attr-group-title {
    text-align: center;
    padding: 0 0 1rem;
  }

  .attr-item {
    padding: 0.5rem 1rem;
  }
}
