<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<div class="product-details-grid" *ngIf="product">
  <div class="image-container">
    <img class="product-img" [src]="product.imageUrl" [alt]="product.name" />
  </div>
  <div class="image-bg1"></div>
  <div class="image-bg2"></div>

  <div class="title-section">
    <a
      routerLink="/shop/category/{{ product.category.id }}"
      class="product-category"
      >{{ product.category.name }}</a
    >
    <p class="product-name">{{ product.name }}</p>
    <p class="product-manufacturer">
      Производитель: <span>{{ product.manufacturerName }}</span>
    </p>
    <p class="product-description">{{ product.description }}</p>

    <div class="sale-container" *ngIf="product.discountPrice > 0">Акция</div>
  </div>

  <div class="purchase-section">
    <div class="product-available available" *ngIf="product.available > 0">
      <img
        class="checkmark-img"
        src="assets/svg/checked.svg"
        alt="Есть в наличии"
      />
      {{ product.available }} шт.
    </div>
    <div class="product-available not-available" *ngIf="product.available <= 0">
      Товар распродан
    </div>
    <div class="price-quantity">
      <div class="price-container">
        <p class="product-price" *ngIf="product.discountPrice === 0">
          {{ product.price }} &#8381;
        </p>

        <div class="discount-container" *ngIf="product.discountPrice > 0">
          <p class="new-price">{{ product.discountPrice }} &#8381;</p>
          <p class="old-price">&nbsp;{{ product.price }} &#8381;&nbsp;</p>
        </div>
      </div>

      <div class="quantity" *ngIf="product.available > 1">
        <button
          class="quantity-btn"
          [disabled]="quantity === 1"
          (click)="decreaseQuantity()"
        >
          <img src="assets/svg/minus.svg" alt="-1" />
        </button>
        <input
          type="number"
          id="quantity"
          [(ngModel)]="quantity"
          (ngModelChange)="onQuantityInput()"
        />
        <button
          class="quantity-btn"
          [disabled]="quantity === product.available"
          (click)="increaseQuantity()"
        >
          <img src="assets/svg/plus.svg" alt="+1" />
        </button>
      </div>
    </div>

    <button class="add-to-cart" (click)="onAddToCart()">В корзину</button>
  </div>

  <section class="info-sections">
    <div class="sections-menu">
      <p
        *ngFor="let section of sections; index as i"
        (click)="onSectionSelect(i)"
        [ngClass]="{ 'active-section': selectedSectionIndex === i }"
      >
        {{ section }}
      </p>
    </div>

    <section class="info-section" *ngIf="selectedSectionIndex === 0">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dolore
      earum quod porro tempora modi nisi voluptate totam quibusdam nemo nesciunt
      dolores cumque mollitia molestiae laudantium quidem vero impedit quia
      aliquid consectetur. Perferendis iste, est minima consequatur, expedita
      adipisci porro suscipit aliquam dolorum praesentium officiis.
    </section>

    <section class="info-section" *ngIf="selectedSectionIndex === 1">
      <div class="attribute-group" *ngFor="let attrGroup of specGroups">
        <div class="attr-group-title">
          {{ attrGroup }}
        </div>

        <div class="attr-item" *ngFor="let attrValue of specs.get(attrGroup)">
          {{ attrValue.name }}: <span>{{ attrValue.attrValue }}</span>
        </div>
      </div>
    </section>
  </section>
</div>
