@import "src/variables.scss";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.pagination img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.left-arrow {
  transform: rotate(90deg);
}

.right-arrow {
  margin-left: 1rem;
  transform: rotate(-90deg);
}

.page-number {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  margin-left: 1rem;
  border: 1px solid $lightBorderColor;

  &:hover {
    background: $bgHighlightColor;
  }
}

.active-page {
  background: $mainColor;
  color: white;

  &:hover {
    background: $lightMainColor;
  }
}
