<app-start-section></app-start-section>
<app-features></app-features>
<app-main-info-section
  *ngFor="let section of sections; index as i"
  [sectionTitle]="section.title"
  [sectionDescription]="section.description"
  [sectionImageUrl]="section.imageUrl"
  [textOnTheLeft]="i % 2 === 0"
></app-main-info-section>
