<div class="wrapper">
  <div class="error-container">
    <p class="errorStatus">{{ errorStatus }}</p>
    <p class="errorMessage">{{ errorMessage }}</p>
    <button class="cta secondary-cta" [routerLink]="'/'">На главную</button>
  </div>
</div>
