.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.errorStatus {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  color: rgba(0, 0, 51, 0.7);
}

.errorMessage {
  margin-bottom: 3rem;
}
