<section class="features-section">
  <div class="feature-container" *ngFor="let feature of features">
    <div class="feature-number">
      {{ feature.number
      }}<span *ngIf="feature.unit !== ''"> {{ feature.unit }}</span>
    </div>
    <p>{{ feature.text }}</p>
  </div>
</section>
