@import "src/variables.scss";

.features-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.feature-container p {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: $mainTextColor;
}
.feature-number {
  text-align: center;
  font-weight: 900;
  font-size: 2.8rem;
  color: $headerTextColor;
}

.feature-number span {
  font-weight: 500;
  font-size: 1.4rem;
}
