<div class="filter-options-panel" *ngIf="visible">
  <div
    class="filter-option text-search-string"
    *ngIf="textSearchString !== ''"
    (click)="onResetSearchString()"
  >
    "{{ textSearchString }}"
    <img src="assets/svg/close_white.svg" alt="Сбросить" />
  </div>

  <div
    class="filter-option text-search-string"
    *ngIf="priceRange?.minPrice > 0"
    (click)="onResetMinPrice()"
  >
    от {{ priceRange.minPrice }} &#8381;
    <img src="assets/svg/close_white.svg" alt="Сбросить" />
  </div>

  <div
    class="filter-option text-search-string"
    *ngIf="priceRange?.maxPrice > 0"
    (click)="onResetMaxPrice()"
  >
    до {{ priceRange.maxPrice }} &#8381;
    <img src="assets/svg/close_white.svg" alt="Сбросить" />
  </div>

  <app-applied-filter-option
    *ngFor="let option of appliedFilters"
    [option]="option"
    (removeOptionEvent)="onOptionRemove($event)"
  >
  </app-applied-filter-option>

  <div
    class="filter-option reset-all"
    *ngIf="resetAllVisible"
    (click)="onResetFilter()"
  >
    Сбросить все <img src="assets/svg/close.svg" alt="Сбросить" />
  </div>
</div>
