@import "src/variables.scss";

.filter-options-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0.5rem;
}

.filter-option {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  font-size: 0.75rem;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: $lightMainColor;
  }

  img {
    width: 10px;
    height: 10px;
    margin-left: 0.75rem;
  }
}

.text-search-string {
  background: $mainColor;
  color: white;

  &:hover {
    background: $lightMainColor;
  }
}

.reset-all {
  border: 1px solid $lightBorderColor;
  background: white;
  color: $mainTextColor;
  font-weight: 500;

  &:hover {
    background: $lightMainColor;
    color: white;

    img {
      filter: invert(100%);
    }
  }
}
