<div class="wrapper">
  <section class="category-grid" *ngIf="!isLoading">
    <div class="card" *ngFor="let category of getCategoriesToDisplay()">
      <div class="category category-back" *ngIf="hasSubcategories(category)">
        <a class="all-categories-link" routerLink="/shop/{{ category.id }}">{{
          category.name
        }}</a>
        <a
          *ngFor="let subcategory of getSubcategories(category)"
          routerLink="/shop/category/{{ subcategory.id }}"
          >{{ subcategory.name }} ({{ subcategory.totalItems }})</a
        >
      </div>

      <div
        class="category category-only"
        *ngIf="!hasSubcategories(category)"
        routerLink="/shop/category/{{ category.id }}"
      >
        <img
          class="category-img"
          [src]="category.imageUrl"
          [alt]="category.name"
        />
        <h2>{{ category.name }}</h2>
        <p>
          {{ category.totalItems }} {{ getProductsString(category.totalItems) }}
        </p>
      </div>

      <div class="category category-front" *ngIf="hasSubcategories(category)">
        <img
          class="category-img"
          [src]="category.imageUrl"
          [alt]="category.name"
        />
        <h2>{{ category.name }}</h2>
        <p>{{ getSubcategories(category).length }} подкатегорий</p>
      </div>
    </div>
  </section>

  <app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
</div>
