@import "src/variables.scss";

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 280px));
  place-content: center;
  gap: 1.5rem;
}

.card {
  box-shadow: 5px 5px 30px 0 rgba(black, 0.1);
  transition: 0.2s ease;
  position: relative;
  width: 100%;
  height: 350px;

  &:hover {
    box-shadow: 10px 10px 30px 0 rgba(black, 0.1);
    transform: scale(1.03);
  }
}

.category {
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.category-front,
.category-only {
  background: rgb(237, 237, 247);
  align-items: center;
  justify-content: space-between;
}

.category-only {
  cursor: pointer;
}

.category-front {
  transition: 0.3s ease;
}

.card:hover .category-front {
  height: 0;
  padding: 0;
}

.category h2 {
  color: $mainTextColor;
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.category p {
  color: $secondaryTextColor;
  font-size: 0.8rem;
  margin: 1rem 0 0;
}

.category-img {
  width: 100%;
  object-fit: cover;
}

.category-back {
  background: white;
  align-items: flex-start;
  padding: 1rem 0;
}

.category-back a {
  width: 100%;
  text-decoration: none;
  color: $mainColor;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;

  &:hover {
    background: $bgHighlightColor;
  }
}

a.all-categories-link {
  font-weight: 700;
}

@media (max-width: 720px) {
  .category-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1rem;
  }
}
