@import "src/variables.scss";

.main-container {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
  margin-bottom: 2rem;
}

.category-title-container {
  width: 100%;
  height: 10rem;
  background: linear-gradient(90deg, white, $bgHighlightColor);
  margin-bottom: 3rem;
  overflow-y: visible;

  .wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2,
    p {
      animation: 0.2s slideIn ease-in;
    }

    p {
      margin: 0;
      font-size: 0.875rem;
    }

    img {
      position: absolute;
      width: auto;
      height: 12rem;
      right: 3rem;
      top: 0;
    }
  }
}

.category-title {
  width: calc(100% - 15rem);
  font-size: 2.75rem;
  font-weight: 500;
  color: $mainColor;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .category-title-container .wrapper img {
    right: 1rem;
  }

  .category-title {
    width: calc(100% - 13rem);
    font-size: 2.25rem;
  }
}

@media (max-width: 720px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .category-title-container {
    height: 10rem;

    .wrapper {
      img {
        right: 0;
      }
    }
  }

  .category-title {
    width: calc(100% - 11rem);
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .category-title-container .wrapper img {
    height: 10rem;
    top: 1.5rem;
  }

  .category-title {
    font-size: 2rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
