<section class="category-title-container" *ngIf="category">
  <div class="wrapper">
    <h2 class="category-title">{{ category.name }}</h2>
    <p>{{ category.totalItems }} {{ getProductsString() }}</p>
    <img [src]="category.imageUrl" [alt]="category.name" />
  </div>
</section>

<div class="wrapper">
  <section class="main-container">
    <app-product-filter></app-product-filter>
    <app-product-list></app-product-list>
  </section>
</div>

<app-compare-panel *ngIf="showComparePanel"></app-compare-panel>
