@import "src/variables.scss";

.search-wrapper {
  padding: 1rem;
}

.search-product-container {
  display: flex;
  align-items: stretch;
  border: 1px solid rgba(black, 0.2);
  border-radius: 1rem;
}

.focused {
  border: 1px solid $mainColor;
}

.search-product-container input {
  width: auto;
  min-width: 100px;
  flex-grow: 1;
  font-family: "Montserrat";
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;

  &:focus {
    outline: none;
  }
}

.search-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: white;
  border: none;
  border-radius: 0 1rem 1rem 0;

  &:focus {
    outline: none;
    background: $mainColor;

    img {
      filter: invert(100%);
    }
  }
}

.search-button img {
  width: 1rem;
  height: 1rem;
}
