<div class="search-wrapper">
  <div class="search-product-container" [ngClass]="{ focused: searchFocused }">
    <input
      type="text"
      id="search-product"
      placeholder="Поиск по категории"
      (focusin)="onSearchFocusIn()"
      (focusout)="onSearchFocusOut()"
      (keyup.enter)="onSearchClick()"
      [(ngModel)]="searchString"
      (ngModelChange)="onChange()"
    />
    <button class="search-button" (click)="onSearchClick()">
      <img src="assets/svg/search.svg" alt="Поиск по категории" />
    </button>
  </div>
</div>
