<div class="filter-item" *ngIf="attribute">
  <div class="filter-category" (click)="onCategoryClick()">
    <span>{{ attribute.name }}</span>
    <img
      [ngClass]="{ opened: isOpened }"
      src="assets/svg/down-arrow.svg"
      alt="Развернуть"
    />
  </div>

  <div class="filter-values" [ngClass]="{ hidden: !isOpened }">
    <p
      class="value-container"
      *ngFor="let value of attribute.values; index as i"
    >
      <label class="checkbox-container">
        <div class="checkbox-flex">
          <p>{{ value.value }}</p>
          <span>{{ value.items }}</span>
        </div>

        <input
          type="checkbox"
          [id]="i"
          [name]="attribute.id"
          [checked]="value.checked"
          (change)="onValueChange($event)"
        />
        <span class="checkmark"></span>
      </label>
    </p>
  </div>
</div>
