<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
<section
  class="product-list-container"
  *ngIf="
    productsInfo !== undefined &&
    productsInfo?.products?.length > 0 &&
    !isLoading
  "
>
  <app-sort-panel
    [totalItems]="productsInfo.totalItems"
    [productListIndices]="getResultIndices()"
  ></app-sort-panel>

  <app-applied-filters-panel
    [filterAttributes]="filterAttrs"
    [textSearchString]="searchQuery"
    [priceRange]="priceRange"
  ></app-applied-filters-panel>

  <section class="product-list">
    <app-product-card
      *ngFor="let product of productsInfo.products"
      [product]="product"
      [categoryInfo]="categoryInfo"
    ></app-product-card>
  </section>

  <app-pagination
    [currentPage]="productsInfo.page"
    [paginationInfo]="getPaginationInfo()"
    (pageSelectEvent)="onPageSelect($event)"
  ></app-pagination>
</section>

<section
  class="products-not-found"
  *ngIf="productsInfo?.products?.length === 0 && !isLoading"
>
  <p>Товары по вашему запросу не найдены</p>
  <button class="cta secondary-cta" [routerLink]="'/shop'">К каталогу</button>
</section>
