@import "src/variables.scss";

.product-list-container {
  margin-left: 1rem;
  padding-bottom: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.products-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}

.products-not-found p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

@media (max-width: 1100px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-list-container {
    margin-left: 0;
  }
}

@media (max-width: 720px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
