<section class="start-section">
  <div class="start-text-container">
    <h1>Какой-нибудь слоган</h1>
    <p>Качественно. Быстро. Гарантия на все товары и услуги.</p>
    <button class="cta main-cta">Оставить заявку</button>
  </div>

  <div class="card-links-container">
    <a [routerLink]="'/shop'">
      <div class="card-link">
        <img class="card-image" src="assets/images/hdd1.webp" alt="" />
        <div class="card-text-container">
          <p>Восстановление данных</p>
          <img class="card-icon" src="assets/svg/right-arrow.svg" alt="" />
        </div>
      </div>
    </a>

    <a [routerLink]="'/shop'">
      <div class="card-link">
        <img class="card-image" src="assets/images/shop.webp" alt="" />
        <div class="card-text-container">
          <p>Магазин радиодеталей</p>
          <img class="card-icon" src="assets/svg/right-arrow.svg" alt="" />
        </div>
      </div>
    </a>

    <a [routerLink]="'/remont-komputerov'">
      <div class="card-link">
        <img class="card-image" src="assets/images/macbook.webp" alt="" />
        <div class="card-text-container">
          <p>Ремонт компьютеров</p>
          <img class="card-icon" src="assets/svg/right-arrow.svg" alt="" />
        </div>
      </div>
    </a>

    <a [routerLink]="'/remont-komputerov'">
      <div class="card-link">
        <img class="card-image" src="assets/images/tv.webp" alt="" />
        <div class="card-text-container">
          <p>Ремонт бытовой техники</p>
          <img class="card-icon" src="assets/svg/right-arrow.svg" alt="" />
        </div>
      </div>
    </a>
  </div>
</section>
