@import "src/variables.scss";

.start-section {
  position: relative;
  height: 90vh;
  min-height: 550px;
  background-image: linear-gradient(
      rgba(52, 81, 114, 0.7),
      rgba(52, 81, 114, 0.7)
    ),
    url("/assets/images/main_background.webp");
}

.start-text-container {
  padding-top: 5rem;
  padding-left: 1rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: rgba(white, 0.9);
}

.start-section h1 {
  font-weight: 500;
  font-size: 3.7rem;
  margin: 0;
}

.start-section p {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.card-links-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  position: absolute;
  bottom: 5vh;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
  max-width: 1200px;

  a {
    text-decoration: none;
    width: 14%;
    min-width: 170px;
    margin: 0 1rem;
  }
}

.card-link {
  display: flex;
  flex-direction: column;
  box-shadow: 6px 6px 20px 0 rgba(black, 0.1);
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-16px);
  }
}

.card-link:first-child {
  margin-left: 0;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-text-container {
  display: flex;
  padding: 1rem;
  background: white;
  flex: auto;
}

.card-text-container p,
.card-text-container a {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: $mainTextColor;
}

.card-icon {
  width: 0.75rem;
  margin-left: 0.75rem;
}
