<section class="hero-section">
  <img
    class="hero-background"
    src="assets/images/laptop-repair.webp"
    alt="Ремонт компьютеров и ноутбуков"
  />

  <div class="hero-text-container">
    <h1>Ремонт компьютеров и ноутбуков - наша специализация</h1>
    <p>
      Полная диагностика. Качественные комплектующие. Гарантированное
      восстановление работоспособности компьютерной техники любой марки.
    </p>
    <button class="secondary-cta-light">Получить консультацию</button>
  </div>

  <div class="hero-img-container">
    <img
      src="assets/images/laptop-repair.webp"
      alt="Ремонт компьютеров и ноутбуков"
    />
  </div>
</section>
