@import "src/variables.scss";

.hero-section {
  margin-bottom: 3rem;
  height: clamp(400px, 70vh, 800px);
  width: 100%;
  background: linear-gradient($headerTextColor, $headerTextColor);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.hero-section:hover .hero-background {
  transform: scale(1.03);
}

.hero-text-container {
  padding: 2rem;
  width: 50%;
  margin: auto 0;
}

.hero-text-container h1 {
  color: white;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1;
}

.hero-text-container p {
  color: rgba(white, 0.87);
  margin: 0;
}

.hero-img-container {
  width: 40%;
  padding: 2rem;
  position: relative;
  z-index: 5;
}

.hero-img-container img {
  width: 100%;
  object-fit: cover;
  border: 2px solid white;
}

.hero-img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  border: 2px solid white;
}

.secondary-cta-light {
  margin-top: 2rem;
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: $mainColor;
    background: white;
  }
}
