<section class="computer-repair-section">
  <div class="text-content-container left-block" *ngIf="textOnTheLeft">
    <h2>{{ sectionTitle }}</h2>
    <p>
      {{ sectionDescription }}
    </p>
    <button class="cta secondary-cta">
      Подробнее
    </button>
  </div>

  <div class="image-content-container">
    <img [src]="sectionImageUrl" [alt]="sectionTitle" />
  </div>

  <div class="text-content-container right-block" *ngIf="!textOnTheLeft">
    <h2>{{ sectionTitle }}</h2>
    <p>
      {{ sectionDescription }}
    </p>
    <button class="cta secondary-cta">
      Подробнее
    </button>
  </div>
</section>
