@import "src/variables.scss";

.computer-repair-section {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 2rem;
}

.text-content-container {
  display: flex;
  flex-direction: column;
  flex: 5;
  padding: 0;
}

.left-block {
  align-items: flex-start;
  margin-right: 3rem;
  text-align: left;
}

.right-block {
  text-align: left;
  align-items: flex-end;
  margin-left: 3rem;
}

.text-content-container h2 {
  margin: 0;
  color: $headerTextColor;
}

.text-content-container p {
  font-family: "Raleway", sans-serif;
}

.image-content-container {
  flex: 3;
}

.image-content-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
