@import "src/variables.scss";

.steps-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin: 3rem auto;
}

.step {
  position: relative;
  box-shadow: 6px 6px 20px 0 rgba(black, 0.1);
  background: white;
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;

  &:hover {
    box-shadow: 10px 10px 20px 0 rgba(black, 0.15);
  }
}

.step span {
  position: absolute;
  font-size: 3rem;
  font-weight: 700;
  color: $lightBorderColor;
  top: 0;
  left: 1rem;
}

.step h3 {
  text-align: center;
}

.step p {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

.step img {
  width: 64px;
  height: 64px;
  margin: 0 auto 1.5rem;
}
