<h2>Как отремонтировать технику у нас?</h2>
<section class="steps-container">
  <div class="step">
    <span>1</span>
    <img src="assets/svg/broken-laptop.svg" alt="Сломанный ноутбук" />
    <h3>Вы приносите технику к нам</h3>
    <p>
      Специалисты нашего сервисного центра проведут диагностику, оценят сроки и
      стоимость ремонта, дадут бесплатную консультацию.
    </p>
  </div>

  <div class="step">
    <span>2</span>
    <img src="assets/svg/pc-repair.svg" alt="Ремонт компьютеров" />
    <h3>Мы выполняем ремонт</h3>
    <p>Мы оповестим вас по телефону о завершении ремонта.</p>
    <p>
      При необходимости замены каких-либо компонентов мы всегда уведомляем
      клиентов об их стоимости.
    </p>
  </div>

  <div class="step">
    <span>3</span>
    <img src="assets/svg/payment.svg" alt="Оплата услуг" />
    <h3>Вы оплачиваете наши услуги</h3>
    <p>
      Наличный и безналичный расчет. С юридическими лицами мы можем заключить
      договор об оказании услуг.
    </p>
    <p>
      В случае <strong>сложных ремонтных работ</strong> может потребоваться
      <strong>предоплата части заказа</strong>.
    </p>
  </div>

  <div class="step">
    <span>4</span>
    <img src="assets/svg/warranty.svg" alt="Гарантия" />
    <h3>Вы получаете гарантию</h3>
    <p>
      Наши клиенты получают гарантию <strong>от 3 месяцев</strong> на
      <strong>все</strong> виды выполненных нами работ
    </p>
  </div>
</section>
