@import "src/variables.scss";

.sort-dropdown,
.sort-block {
  display: flex;
  align-items: center;
}

.sort-dropdown {
  position: relative;
}

.sort-dropdown span {
  cursor: pointer;
  margin: 0 0.5rem;
  font-weight: 400;
  color: $secondaryTextColor;
}

.sort-dropdown:hover span {
  color: rgb(3, 3, 167);
}

.dropdown-marker {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.sort-label {
  width: 1rem;
  height: 1rem;
}

.sort-dropdown:not(.open) .dropdown-list {
  display: none;
}

.sort-dropdown.open .dropdown-list {
  list-style: none;
  position: absolute;
  bottom: -1.5rem;
  transform: translateY(100%);
  right: 0;
  background: white;
  box-shadow: 6px 6px 20px 0 rgba(black, 0.1);
  z-index: 10;
  width: 25ch;
  padding: 0;
  text-align: left;
}

.dropdown-list li {
  user-select: none;
  padding: 0.75rem 1rem;

  &:hover {
    background: $bgHighlightColor;
  }
}

.dropdown-list li:last-child {
  margin-bottom: 0;
}
