<div class="sort-block">
  <img class="sort-label" src="assets/svg/sort.svg" alt="Сортировка" />
  <div class="sort-dropdown" appDropdown>
    <span>{{ options[selectedIndex] }}</span>
    <img
      class="dropdown-marker"
      src="assets/svg/down-arrow.svg"
      alt="Развернуть"
    />
    <ul class="dropdown-list">
      <li *ngFor="let option of options; index as i" (click)="onItemClick(i)">
        {{ option }}
      </li>
    </ul>
  </div>
</div>
