@import "src/variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
  background: white;
}

h2,
h3 {
  margin-top: 0;
  color: $mainColor;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.cta {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 500;
  cursor: pointer;
}

.main-cta {
  border: 2px solid $mainColor;
  background: $mainColor;
  color: white;

  &:hover {
    border: 2px solid $lightMainColor;
    background: $lightMainColor;
  }
}

.secondary-cta {
  border: 2px solid $mainColor;
  background: transparent;
  color: $mainColor;

  &:hover {
    border: 2px solid $lightMainColor;
    background: $lightMainColor;
    color: white;
  }
}

.main-cta:disabled,
.secondary-cta:disabled {
  border: 2px solid rgb(179, 178, 178);
  background: rgb(179, 178, 178);
  color: white;
  cursor: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//Custom checkbox
/* Customize the label (the container) */
.checkbox-container {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0.25rem 0 0.25rem 2.5rem;
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(-50%);
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: $lightBorderColor;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $mainColor;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -65%) rotate(45deg);
}

.checkbox-container span {
  color: $secondaryTextColor;
  font-size: 0.875rem;
}

.checkbox-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
  }

  span {
    font-weight: 500;
    font-size: 0.8125rem;
    margin-left: 0.5rem;
    color: $transparentMainColor50;
  }
}

@media (max-width: 900px) {
  .wrapper {
    width: 100%;
  }
}
