//Color Scheme
$mainColor: rgb(0, 0, 70);
$transparentMainColor50: rgba($mainColor, 0.5);
$darkMainColor: darken($mainColor, 20%);
$lightMainColor: lighten($mainColor, 20%);

$accentColor: #21862c;
$darkAccentColor: #15571c;

$bgHighlightColor: rgba($mainColor, 0.05);
$subtleBorderColor: rgba($mainColor, 0.1);
$lightBorderColor: rgba($mainColor, 0.2);

//Text Colors
$headerTextColor: rgba($mainColor, 0.87);
$mainTextColor: rgba(black, 0.87);
$secondaryTextColor: rgba(black, 0.7);

//Price Colors
$priceColor: $mainColor;
$discountPriceColor: #e26009;
