<div class="filter-item">
  <div class="filter-category" (click)="onCategoryClick()">
    <span>Цена</span>
    <img
      [ngClass]="{ opened: isOpened }"
      src="assets/svg/down-arrow.svg"
      alt="Развернуть"
    />
  </div>

  <div class="filter-values" [ngClass]="{ hidden: !isOpened }">
    <div class="price-filter-container">
      <input
        #priceFrom
        class="price-input"
        type="number"
        id="price-from"
        name="price"
        [placeholder]="'от ' + priceRange.minPrice"
        (change)="onValueChange($event)"
        (keyup.enter)="onPressEnter()"
      />
      <span>&#8212;</span>
      <input
        #priceTo
        class="price-input"
        type="number"
        id="price-to"
        name="price"
        [placeholder]="'до ' + priceRange.maxPrice"
        (change)="onValueChange($event)"
        (keyup.enter)="onPressEnter()"
      />
    </div>
  </div>
</div>
