.sort-panel {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 1rem 0;
}

.sort-panel p {
  margin: 0;
}

.results-block {
  margin-right: auto;
}

.results-block span {
  color: rgb(3, 3, 167);
  font-weight: 500;
}
