<section class="sort-panel">
  <div class="results-block">
    <span>{{ productListIndices.start }} - {{ productListIndices.end }}</span>
    из <span>{{ totalItems }}</span> товаров
  </div>

  <app-dropdown-selector></app-dropdown-selector>
</section>
